<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3>Most Liked</h3>
            </div>
            <div class="panel-body">
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3>Recently Added</h3>
            </div>
            <div class="panel-body">
            </div>
        </div>
    </div>
</div>
