$(document).ready(function() {
    setTimeout(function(){ $('.message-box').fadeOut() }, 10000);

    $('#table').dataTable({
        'paging': false,
        'searching': false,
        'responsive': true,
        'order': [1, 'asc'],
        'columnDefs': [{
            'targets': 0,
            'visible': false
        },
        {
            'targets': [2,3],
            'orderable': false
        }]
    });

    function setXY(e, height){
        if ($('#tooltip').outerHeight(true) + e.pageY + 100 > height){        
            $('#tooltip').css('top', e.pageY - $('#tooltip').outerHeight(true));
        } else {
            $('#tooltip').css('top', e.pageY);
        }
        
        $('#tooltip').css('left', e.pageX);
    }

    $('.overview').hover(function(e){
        var text = $(this)[0].innerHTML;
        var html = "<div id='tooltip'>" + $.trim(text) + "</div>";
        var height = $(document).outerHeight(true);
        $(document.body).append(html);
        
        setXY(e, height);

    }, function(e){
        $('#tooltip').remove();
    });

    $('.overview').mousemove(function(e){
        var height = $(document).outerHeight(true);
        setXY(e, height);
    });
});

function deleteFromWatchlist(userid, series) {
  if(deleteItem()) {
    var url = "/api/v1/user/" + userid + "/watchlist";
    data = {};
    data.series_id = series;
    $.ajax({
      url: url,
      type: "DELETE",
      data: data,
      success: function(resp) {
        if (resp["status"] == 200) {
          var table = $('#table').DataTable();
          var result = table.search(series);
          $('#tooltip').remove();
          result.row().remove();
          table.draw();

          createAlert("success", "Series successfully deleted from watchlist");
        }
      }
    });
  }
}

function addToWatchlist(userid, series) {
  var url = "/api/v1/user/" + userid + "/watchlist";
  data = {};
  data.series_id = series;
  $.ajax({
    url: url,
    type: "POST",
    data: data,
    success: function(resp){
        createAlert("success", "Series successfully added to watchlist");
    }
  });
}

function deleteItem() {
  if (confirm("Are you sure? This cannot be undone.")) {
    return true;
  }
  return false;
}

function createAlert(type, text) {
    html = $("<div class='alert alert-" + type + " alert-dismissable'>").append($("<button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times;</span></button>")).append("<p>" + text  + "</p>");
    $(".message-box").empty();
    $(".message-box").append(html);
    $(".message-box").removeAttr("style");
    setTimeout(function(){ $('.message-box').fadeOut() }, 10000);
}
