/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
*/

@import "bootstrap-sprockets";
@import "bootstrap";

#poster {
    padding: 10px;

    img {
        max-width: 100%;
        border: 2px solid white;
        outline: 1px solid black;
    }
}


.banner {
    display: block;
    margin: 0 auto;
    width: 100%;
}

td {
    vertical-align: middle !important;
}

td:nth-child(1), td:nth-child(3) {
    text-align: center;
}

div.overview {
    max-height: 100px;
    max-width: 500px;
    overflow: hidden;
    text-overflow: ellipses;
    cursor: default;
}

#tooltip {
    position: absolute;
    background: #eee;
    color: #555;
    border: 1px solid #888;
    border-radius: 5px;
    max-width: 400px;
    padding:20px;
}

.message-box {
    position: fixed;
    width: 50%;
    top: 0px;
    opacity: .75;
    height: 75px;
    margin-left: 25%;
    z-index: 9999;
    pointer-events: none;
}

.container {
    max-width: 100%;
}

.login-container {
    max-width: 400px;
    padding: 20px 30px 30px;
    margin: auto;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    -mox-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .05);

    input[type="checkbox"] {
        margin-bottom: 10px;
    }

    input[type="text"], input[type="password"], input[type="email"] {
        margin-bottom: 15px;
        padding: 7px 9px;
        width: 100%;
    }

    h2 {
        margin-top: 0px;
    }
}

.api-keys > thead > tr > th {
    text-align: center;
}

.qr-table {
    border-width: 0;
    border-style: none;
    border-color: #0000ff;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;    

    td {
        border-width: 0;
        border-style: none;
        border-color: #0000ff;
        border-collapse: collapse;
        padding: 0;
        margin: 0;
        width: 2px;
        height: 2px;
    }

    td.black {
        background-color: #000;
    }

    td.white { 
        background-color: #fff;
    }
}
