// Place all the styles related to the search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

td img {
    max-height: 50px;
}

div.overview {
    max-height: 100px;
    max-width: 500px;
    overflow: hidden;
    text-overflow: ellipses;
}
